[submodule "deps/x264/x264"]
	path = deps/x264/x264
	url = git://git.videolan.org/x264.git
[submodule "deps/aac/aac"]
	path = deps/aac/aac
	url = https://android.googlesource.com/platform/external/aac
