[submodule "GStreamer/gstreamer"]
	path = GStreamer/gstreamer
	url = git://anongit.freedesktop.org/gstreamer/gstreamer
[submodule "libintl/gettext"]
	path = libintl/gettext
	url = git://git.savannah.gnu.org/gettext.git
[submodule "ORC/orc"]
	path = ORC/orc
	url = git://code.entropywave.com/git/orc.git
[submodule "libffi/libffi"]
	path = libffi/libffi
	url = git://github.com/atgreen/libffi.git
[submodule "GLib/glib"]
	path = GLib/glib
	url = git://git.gnome.org/glib
[submodule "gst-plugins-base/gst-plugins-base"]
	path = gst-plugins-base/gst-plugins-base
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-base
[submodule "gst-plugins-ugly/gst-plugins-ugly"]
	path = gst-plugins-ugly/gst-plugins-ugly
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-ugly
[submodule "x264/x264"]
	path = x264/x264
	url = git://git.videolan.org/x264.git
[submodule "yasm/yasm"]
	path = yasm/yasm
	url = git://github.com/yasm/yasm.git
[submodule "gst-plugins-good/gst-plugins-good"]
	path = gst-plugins-good/gst-plugins-good
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-good
[submodule "gst-plugins-bad/gst-plugins-bad"]
	path = gst-plugins-bad/gst-plugins-bad
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-bad
[submodule "librtmp/rtmpdump"]
	path = librtmp/rtmpdump
	url = git://git.ffmpeg.org/rtmpdump
