<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stream</key>
	<dict>
		<key>url</key>
		<string>rtmp://localhost/app/test</string>
	</dict>
	<key>video</key>
	<dict>
		<key>clock</key>
		<dict>
			<key>type</key>
			<string>display</string>
		</dict>
		<key>sources</key>
		<array>
			<dict>
				<key>type</key>
				<string>display</string>
				<key>x1</key>
				<integer>-1</integer>
				<key>y1</key>
				<integer>-1</integer>
				<key>x2</key>
				<integer>1</integer>
				<key>y2</key>
				<integer>1</integer>
				<key>u1</key>
				<integer>0</integer>
				<key>v1</key>
				<integer>0</integer>
				<key>u2</key>
				<integer>1</integer>
				<key>v2</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>capture</string>
				<key>x1</key>
				<real>0.5</real>
				<key>y1</key>
				<real>0.5</real>
				<key>x2</key>
				<integer>1</integer>
				<key>y2</key>
				<integer>1</integer>
				<key>u1</key>
				<integer>0</integer>
				<key>v1</key>
				<integer>0</integer>
				<key>u2</key>
				<integer>1</integer>
				<key>v2</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>encoder</key>
		<dict>
			<key>profile</key>
			<string>baseline</string>
			<key>preset</key>
			<string>veryfast</string>
			<key>threads</key>
			<string>8</string>
		</dict>
	</dict>
	<key>audio</key>
	<dict>
		<key>sources</key>
		<array>
			<dict>
				<key>type</key>
				<string>input</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
