body {
    margin: 0;
}

.theater {
    padding: 1px 0;
    background: #1b1b1b;
}

.video-wrap {
    max-width: 1280px;
    margin: 0 auto;
}

.video-wrap video {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .theater {
        padding: 1px 15px;
    }
}
